<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>turbo irrigator 42069</title>
<body>
  <div class="header">
    <h1>turbo irrigator 42069</h1>
    <p><em>flood your apartment!</em></p>
  </div>

  <div class="navigation" style="width: 200px; float: left;">
    <h2>administer</h2>
    <div><a href="{{url_for('root')}}">home</a></div>
    <div><a href="{{url_for('tasks')}}">manage tasks</a></div>
    <div><a href="{{url_for('create_task')}}">add a task</a></div>
  </div>

  <div class="content" style="float: left;">
    {% block content %}{% endblock %}
  </div>
</body>
