{% extends '_base.html' %}

{% block content %}
  <h2>add a task</h2>
  <form action="{{ url_for('tasks') }}" method="POST" class="task-form">
    <div class="task-form__input-group">
      <label>hour:</label>
      <select name="hour" required>
        {% for hour in range(0, 24) %}
          <option value="{{ hour }}">{{ hour }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="task-form__input-group">
      <label>minute:</label>
      <select name="minute" required>
        {% for minute in range(0, 60, 15) %}
          <option value="{{ minute }}">{{ minute }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit">submit</button>
  </form>
{% endblock %}
