<!doctype html>
{% import '_task.html' as task_helper %}
<title>turbo irrigator 42069 - tasks</title>
<body>
  <div class="header">
    <h1>turbo irrigator 42069</h1>
    <p><em>flood your apartment!</em></p>
  </div>

  <div class="navigation" style="width: 200px; float: left;">
    <h2>administer</h2>
    <div><a href="{{url_for('root')}}">home</a></div>
    <div><a href="{{url_for('tasks')}}">manage tasks</a></div>
    <div><a href="{{url_for('create_task')}}">add a task</a></div>
  </div>

  <div class="content" style="float: left;">
    <h2>tasks</h2>
    {% if main_jobs %}
      {% for job in main_jobs %}
        <div>{{ task_helper.admin_detail(job) }}
      {% endfor %}
    {% else %}
      <div>no irrigator tasks in cron table</div>
    {% endif %}
  </div>
</body>
